NR-MQTT-Face-Rec-Flow.json
[{"id":"de13941f.e16378","type":"tab","label":"MQTT Camera Face Rec","disabled":false,"info":""},{"id":"f0bf8d41.766b3","type":"image","z":"de13941f.e16378","name":"Labeled Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":800,"y":260,"wires":[]},{"id":"a14a3688.30b9d8","type":"image","z":"de13941f.e16378","name":"Input Image","width":"640","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":110,"y":260,"wires":[]},{"id":"52f2bc5e.1ce534","type":"change","z":"de13941f.e16378","name":"Set Payload to Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"TBB Faces\"].image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["f0bf8d41.766b3"]]},{"id":"74f70dfa.64c164","type":"debug","z":"de13941f.e16378","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":100,"wires":[]},{"id":"d15376da.859aa","type":"base64","z":"de13941f.e16378","name":"","action":"","property":"payload","x":140,"y":200,"wires":[["a14a3688.30b9d8"]]},{"id":"5dacae74.a04ea","type":"face-api-input","z":"de13941f.e16378","name":"Find Faces","numNodes":1,"computeNode1":"5adfec11.8f4ef4","computeNode2":"","computeNode3":"","computeNode4":"","computeNode5":"","computeNode6":"","computeNode7":"","computeNode8":"","computeNode9":"","computeNode10":"","x":350,"y":140,"wires":[["74f70dfa.64c164","52f2bc5e.1ce534","be6c0c9a.0b1768","cba42715.46a548"]]},{"id":"dd9474c6.34db4","type":"camera","z":"de13941f.e16378","name":"","x":90,"y":100,"wires":[["5dacae74.a04ea","d15376da.859aa"]]},{"id":"be6c0c9a.0b1768","type":"function","z":"de13941f.e16378","name":"getExpressions","func":"\n//create copy of message\nvar fullMsg = msg;\n\n//retrieve all faces detected from message payload\nvar allFacesDetected = fullMsg.payload[\"TBB Faces\"].faces;\n\n//build expressions array\nvar expressionsDetected = {\"expressions\": []};\n\n//fill expressions array for all detected expressions (if any faces are detected)\nif (allFacesDetected.length > 0)\n{\n    for (i = 0; i < allFacesDetected.length; i++)\n    {\n        expressionsDetected.expressions.push(allFacesDetected[i].expressionLabel);\n    }\n}\n\n//set message payload (now will be the expressions array object)\nmsg.payload = expressionsDetected;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":40,"wires":[["84a8d87a.3df4e","71c70d09.78625c"]]},{"id":"84a8d87a.3df4e","type":"debug","z":"de13941f.e16378","name":"Expressions Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":40,"wires":[]},{"id":"71c70d09.78625c","type":"mqtt out","z":"de13941f.e16378","name":"mqtt out - emotions","topic":"face-api-NR/emotions-detected","qos":"","retain":"","broker":"4664209c.c455b","x":790,"y":80,"wires":[]},{"id":"a8c2b60d.d33b78","type":"mqtt out","z":"de13941f.e16378","name":"mqtt out - labelled image","topic":"face-api-NR/labelled-image","qos":"","retain":"","broker":"4664209c.c455b","x":810,"y":200,"wires":[]},{"id":"cba42715.46a548","type":"function","z":"de13941f.e16378","name":"getLabelledImage","func":"\n//create copy of message\nvar fullMsg = msg;\n\n//retrieve labelled image from message payload\nvar labelled_image = fullMsg.payload[\"TBB Faces\"].image;\n\n//convert image buffer to base-64 format (string)\nvar img_converted = new Buffer.from(labelled_image).toString(\"base64\");\nlabelled_image = img_converted;\n\n//build new payload\nvar new_payload = {\"labelledImage\": labelled_image};\n\n//set message payload (now as converted labelled image)\nmsg.payload = new_payload;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":160,"wires":[["6362e28d.c31ab4","a8c2b60d.d33b78"]]},{"id":"6362e28d.c31ab4","type":"debug","z":"de13941f.e16378","name":"Labelled Image Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"4ab29ab2.9aa43c","type":"mqtt in","z":"de13941f.e16378","name":"mqtt in - emotions","topic":"face-api-NR/emotions-detected","qos":"0","datatype":"auto","broker":"4664209c.c455b","x":1090,"y":40,"wires":[["903764cb.b7193"]]},{"id":"26450fe3.3087c","type":"mqtt in","z":"de13941f.e16378","name":"mqtt in - labelled image","topic":"face-api-NR/labelled-image","qos":"0","datatype":"auto","broker":"4664209c.c455b","x":1100,"y":160,"wires":[["f3dcd489.7d2c28"]]},{"id":"903764cb.b7193","type":"debug","z":"de13941f.e16378","name":"mqtt in - Emotions msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"f3dcd489.7d2c28","type":"debug","z":"de13941f.e16378","name":"mqtt in - Image msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":200,"wires":[]},{"id":"60df1857.7546c8","type":"file in","z":"de13941f.e16378","name":"(Local) File In","filename":"C:\\Users\\maria\\Pictures\\home-alone-surprised-face.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":280,"y":40,"wires":[[]]},{"id":"fbe6a595.448df8","type":"inject","z":"de13941f.e16378","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["60df1857.7546c8"]]},{"id":"5adfec11.8f4ef4","type":"face-api-compute","name":"TBB Faces","childHost":true,"recognitionType":"SSD","multipleFaces":"Multiple Faces","confidence":"50","inputSize":"416","landmarks":true,"expressions":true,"ageGender":true,"recognition":false,"labelName":"known","file":""},{"id":"4664209c.c455b","type":"mqtt-broker","name":"mosquitto-localhost1883","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]